<%= render 'layouts/header' %>

<div class="row">
  <div>
    <p>User Show HTML ERB</p>
    <h2><%= link_to 'Add Advice', new_advice_path %><h2>
    <%= form_for @advice do |f| %>
      <%= f.label :url %>:
      <%= f.text_field :url %><br />
      <%= f.submit %>
    <% end %>
  </div>
</div>

    <div class='wrapper'>
      <% @user.advices.each do |advice| %>
        <% advice.user_advices.each do |user_advice| %>
        <div class='col=md-2'>
        </div>
          <div class='col-md-8 col-md-offset-2' data-advice-id='<%= advice.id %>' data-user-advice-id='<%= user_advice.id %>'>
            <div class="thumbnail" >
              <div class="caption">
                <p><%= advice.url %></p>
                <p>Taggs will go here...</p>
                <p>
                  <a href='users/<%= @user.id %>/user_advices/<%=user_advice.id %>' data-method='post' class="btn btn-primary btn-worked" role="button">It worked! :)</a> 
                  <a href="#" class="btn btn-default btn-didnt-work" role="button">Not so much :(</a>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      <%end%> 
      </div>
    </div>
    </div>
  </div>
</div>



<p>
<% @user.advices.each do |advice| %>
<% advice.user_advices.each do |thing| %>
<%= thing.upvote %>
<% end %>
<% end %>
</p>
