<div class='row wrapper'>
  
    <% @user.advices.each do |advice| %>
      <div class='col-md-8 col-md-offset-2 user-advice' data-advice-id='<%= advice.id %>' data-user-advice-id='<%= advice.id %>'> 
        <div class="thumbnail" >
          <div class="caption long-text">

            <h3><%= advice.create_url_title(advice.url) %></h3>
            <p class='url'><%=link_to advice.url, advice.url %></p>
            <div class='tags'>
              <p>Tags: <%= raw advice.tag_list.map { |t| link_to t,  "/advices?tag=#{t}" }.join(', ') %>
              </p>
            </div>

          </div>    
        </div>  
      </div>  
    <% end %>
   
</div>