<%= render 'layouts/header' %>

<div class="row">
  <div>
    <p>Advices Index</p>
    <h2><%= link_to 'Add Advice', new_advice_path %><h2>
    <%= render 'advices/form' %>
  </div>
</div>

<% @advices.each do |advice| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <p><%=advice.url%></p>
        <p>
        Tags: <%= raw advice.tag_list.map { |t| link_to t,  "/advices?tag=#{t}" }.join(', ') %>
        </p>
        <p><a class="btn btn-primary btn-worked" role="button">It worked! :)</a> <a href="#" class="btn btn-default btn-didnt-work" role="button">Not so much :(</a></p>
      </div>
    </div>
  </div>
<%end%> 