<div class ='row'>
  <div class='col-md-1'>
  </div>
  <div class='col-md-10 col-md-offset-1'>
  <% @advices.each do |advice| %>
    <div class="col-md-5">
      <div class="thumbnail">
        <div class="caption long-text">
          <h3><%= advice.create_url_title(advice.url) %></h3>
          <p class='url'><%=link_to advice.url, advice.url %></p>
          <div class='tags'>
            <p>Tags: <%= raw advice.tag_list.map { |t| link_to t,  "/advices?tag=#{t}" }.join(', ') %></p>
          </div>
          <div class='ratio'>
           <h4><%= advice.ratio(advice.id) %></h4>
         </div>
         <div >
          <%= simple_form_for @advice, :html => {:role => 'form'} do |f| %>
            <%= f.error_notification %>
            <div class='form-group'>
              <%= f.hidden_field :url, :value => "#{advice.url}" %>
            </div>
            <div class='form-group'>
              <%= f.hidden_field :user_id, :value => "#{current_user.id}" %>
            </div>
            <%= f.submit 'Add!', :class => 'btn btn-default add' %>
          <% end %>
         </div>
        </div>
      </div>
    </div>
  <%end%> 
  </div>
</div>