<!DOCTYPE html>
<html>
<head>
  <title>Advice App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script>
  $(document).ready(function(){
    $(".btn-worked").click(function(e){
      $this = $(this);
      $.ajax({
        type: "POST",
        url:"/upvotes", 
        success:function(result){
        $this.text("YES!");
      }});
    });

    $(".btn-didnt-work").click(function(e){
      $this = $(this);
      $.ajax({
        type: "POST",
        url:"/upvotes", 
        success:function(result){
        $this.text("NOPE!");
      }});
    });
  });
  </script>
  <script>
    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));  
    
    window.fbAsyncInit = function() {
      FB.init({
        appId:   '1491949827760019',
        xfbml:   true,
        version: 'v2.2'
      });

      $('#sign_in').click(function(e){
        e.preventDefault();
          FB.login(function(response) {
            if (response.authResponse) {
              window.location = '/auth/facebook/callback?' + $.param({signed_request: response.authResponse.signedRequest});
            } 
          });
      });
        
      $('#sign_out').click(function(e){
        FB.getLoginStatus(function(response){
          if(response.authResponse){
            FB.logout();
          }
        });
        return true;
      });
    };
  </script>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">AdviseMe</a>
      
    </div>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <p class="navbar-text">Hey there <strong><%= current_user.name %></strong>!</p>
          <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
        <% else %>
          <li><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

  <%= yield %>
</body>
</html>
